*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #454950;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h4,
h2 {
    color: white;
    margin: 15px 0;
}

/* Regole app */

.flex-container {
    display: flex;
    justify-content: flex-start;
}

#display {
    width: calc(100vw - 250px);
    height: calc(100vh - 100px);
    background-color: #141922;
    z-index: 1;
    padding-top: 150px;
    overflow-y: scroll;
}
/* Regole upgrade */

#upgrade {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #080b12;
    z-index: 2;
}

#upgrade a {
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid white;
    color: white;
    padding: 10px 15px;
}

/* Regole Navbar */

#navbar {
    position: relative;
    width: 250px;
    max-height: calc(100vh - 100px);
    background-color: #000000;
    z-index: 3;
}

#logoimg {
    height: 100px;
}

#playlist {
    max-height: calc(60% - 40px);
    overflow-y: auto;
    background-color: aqua;
    overflow: auto;
}

#navmenu {
    /* max-height: calc(20% - 30px); */
    background-color: black;
}


#navmenu ul:first-child{
    list-style-image: url(../img/home.svg);
    margin-left: 10px;
    padding-left: 25px;
    color: white;
}

#navmenu ul li:nth-child(2){
    list-style-image: url(../img/search.svg);
    color: white;
}

#navmenu ul li:last-child {
    list-style-image: url(../img/libreria.svg);
}


::marker{
    font-size: 50px;
    color: white;
}

#userprofile{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: calc(20% - 30px);
    background-color: white;
}

/* Regole Display */
#displaywrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#display nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}


/* Regole canzoni riprodotte */
.music {
    max-width: calc((100% / 6) - 10px);
    /* background-color: antiquewhite; */
}

.displaysong {
    flex-wrap: wrap;
    gap: 10px;
}



.wrapper h5,
.wrapper h2 {
    text-align: left;
    margin: 15px auto;
}

.wrapper {
    margin: 20px 0px;
}


/* Regole artisti più popolari */

.wrapper:last-child img {
    border-radius: 50%;
}


/* Regole footer */


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto 15px;
    height: 100px;
    background-color: #282828;
    z-index: 400;
}
/* Sezione Brano */
#brano {
    width: calc(20% - 100px);
    /* Debug */
    background-color: #454950;
}

footer img {
    margin: 0 15px;
    max-width: 70px;
    float: left;
}

#brano h3,
#brano span {
    color: white;
}

/* icone footer */
#footericon {
    width: 10%;
    /* Debug */
    background-color: antiquewhite;
}


/* Regole player */

#playnow {
    width: 40%;
    text-align: center;
    /* Debug */
    background-color: rgb(50, 112, 112);
}

#menuplayer {
    width: 70%;
    margin: 0 auto;
    /* Debug */
    background-color: yellow;
}

#playerprogress {
    /* Debug */
    background-color: purple;
}


/* Regole impostazioni */
#footersetting{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    /* Debug */
    background-color: black;
}


#progressbar {
    border: 1px white;
    background-color: white;
    width: 70%;
}

#percprogrss{
    width: 15%;
    height: 5px;
    background-color: yellow;
}

