*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Regole app */

#flex-container {
    display: flex;
    justify-content: flex-start;
}

#display {
    width: calc(100vw - 250px);
    height: calc(100vh - 125px);
    background-color: brown;
    z-index: 1;
    padding-top: 150px;
    overflow-y: auto;
}

#update {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: yellow;
    z-index: 2;
}

#navbar {
    width: 250px;
    height: calc(100vh - 125px);
    background-color: black;
    z-index: 3;
}


footer {
    height: 125px;
    background-color: blueviolet;
    z-index: 4;
}


.prova {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    margin: 10px;
}